.suma{
    grid-template-columns: 1;
    grid-template-rows: 1;
}

.resta{
    grid-template-columns: 2;
    grid-template-rows: 1;
}

.multiplicion{
    grid-template-columns: 1;
    grid-template-rows: 2;
}

.divicion{
    grid-template-columns: 2;
    grid-template-rows: 2;
}