<div style="height: 100% ; display: flex; flex-direction: column;">
  <div style="background-color: white;">
    <ion-img src="assets/papne.jpg" style="height: 300px"></ion-img>
  </div>

  <div style="flex-grow: 1; display: flex; justify-content: center; align-items: center;">
    <ion-button (click)="redirecTo()" style="height: 70px; width: 60%; --color: black; font-weight: bold; --border-radius: 5px; --border-width: 2px; --border-style: solid; 
    --box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8); 
    --border-color: #2f7a28; 
    z-index: 1;" 
    color="warning">VAMOS !!!</ion-button>
  </div>
</div>